/* FAQ */
main{
    border: white solid 1px;
    background-color: white;
}
.expandable-wrap{
    max-width: 100%;
    margin: 20px 0px 0px 0px;
    font-size: 18px;
    background-color: white;
    padding: 10px;
    min-height: 500px;
 
 
 }
 
 .expandableHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    color: white;
    background-color: var(--light-blue);
    border-radius: 6px 6px 0 0;
    cursor: pointer;
 
  
 }
 .questionWrap{
    margin-bottom: 1em;
 }
 .expandable-title{
    font-weight: bold;
    text-align: center;
 }
 .expandableContent{
    padding: 0 18px;
    margin-top: 0;
    margin-bottom: 1.5em;
   overflow: hidden;
   background-color: #f1f1f1;
   max-height: 0;
   transition: max-height 0.4s ease-out
 }